{
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "arrow-parens": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/label-has-for": "off"
  }
}
