@font-face {
  font-family: 'Proba Pro';
  src: url(../../fonts/proba_pro_regular-webfont.woff) format('woff'), url(../../fonts/proba_pro_regular-webfont.woff2) format('woff2'), url(../../fonts/proba_pro_regular-webfont.eot) format('eot'), url(../../fonts/proba_pro_regular-webfont.ttf) format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Proba Pro';
  src: url(../../fonts/proba_pro_thin-webfont.woff) format('woff'), url(../../fonts/proba_pro_thin-webfont.woff2) format('woff2'), url(../../fonts/proba_pro_thin-webfont.eot) format('eot'), url(../../fonts/proba_pro_thin-webfont.ttf) format('ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Proba Pro';
  src: url(../../fonts/proba_pro_extralight-webfont.woff) format('woff'), url(../../fonts/proba_pro_extralight-webfont.woff2) format('woff2'), url(../../fonts/proba_pro_extralight-webfont.eot) format('eot'), url(../../fonts/proba_pro_extralight-webfont.ttf) format('ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'Proba Pro';
  src: url(../../fonts/proba_pro_light-webfont.woff) format('woff'), url(../../fonts/proba_pro_light-webfont.woff2) format('woff2'), url(../../fonts/proba_pro_light-webfont.eot) format('eot'), url(../../fonts/proba_pro_light-webfont.ttf) format('ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Proba Pro';
  src: url(../../fonts/proba_pro_medium-webfont.woff) format('woff'), url(../../fonts/proba_pro_medium-webfont.woff2) format('woff2'), url(../../fonts/proba_pro_medium-webfont.eot) format('eot'), url(../../fonts/proba_pro_medium-webfont.ttf) format('ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Proba Pro';
  src: url('../../fonts/proba_pro_semibold-webfont.woff') format('woff'), url(../../fonts/proba_pro_medium-webfont.woff2) format('woff2'), url(../../fonts/proba_pro_medium-webfont.eot) format('eot'), url(../../fonts/proba_pro_semibold-webfont.ttf) format('ttf');
  font-weight: 600;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Proba Pro', sans-serif;
  background-color: #f3f3f3;
}
form {
  margin: 10vh 0;
  padding: 35px 25px 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  form {
    width: 630px;
    padding: 35px 40px;
    text-align: left;
  }
}
.form-title {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  color: #333333;
}
.form-subtitle {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #8f8f8f;
}
@media (min-width: 768px) {
  .inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;
  text-align: left;
}
@media (min-width: 768px) {
  .input-field input {
    width: 173px;
  }
}
label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  font-weight: 400;
  color: #8f8f8f;
  text-align: left;
}
input {
  width: 100%;
  padding: 6px 0;
  font-family: 'Proba Pro', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border: 0;
  border-bottom: 1px solid #e2e2e2;
  outline: none;
}
input:focus {
  border-bottom: 1px solid #4285f4;
}
input:invalid {
  border-bottom: 1px solid #ff4242;
}
textarea {
  width: 100%;
  padding: 6px 0;
  font-family: 'Proba Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  border: none;
  overflow: auto;
  outline: none;
  border-bottom: 1px solid #e2e2e2;
  resize: none;
}
textarea:focus {
  border-bottom: 1px solid #4285f4;
}
textarea:invalid {
  border-bottom: 1px solid #ff4242;
}
::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #8f8f8f;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #8f8f8f;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #8f8f8f;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #8f8f8f;
}
.error {
  margin-top: 5px;
  width: 100%;
  font-size: 10px;
  line-height: 12px;
  color: #ff4242;
  opacity: 1;
}
@media (min-width: 768px) {
  .error {
    width: 173px;
  }
}
.show {
  opacity: 1;
}
.btn-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
}
@media (min-width: 768px) {
  .btn-container {
    flex-direction: row;
    justify-content: center;
    margin: 48px 0 20px;
  }
}
.btn {
  padding: 14px 64px;
  font-family: 'Proba Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #fafafa;
  background-color: #4285f4;
  border-radius: 4px;
  cursor: pointer;
}
.btn:disabled {
  color: rgba(250, 250, 250, 0.5);
}
.btn:hover {
  background-color: #3874d7;
}
.btn-clear {
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 0;
  color: rgba(38, 38, 38, 0.5);
}
@media (min-width: 768px) {
  .btn-clear {
    margin-bottom: 0;
    margin-right: 20px;
    background-color: #e0e0e0;
  }
}
.btn-clear:disabled {
  background-color: #ffffff;
  border: 0;
  color: rgba(38, 38, 38, 0.5);
}
.btn-clear:hover {
  background-color: #e0e0e0;
  border: 0;
  color: rgba(38, 38, 38, 0.5);
}
